__pycache__/
*.py[cod]

.codex
.env
.env.*

myenv/
.venv/

config.json
google-credentials.json

app.log
app.log.*
logs/
archive/
upload_tls_multi_host.log

test.py
myrandom.py
upload_tls_multi_host.sh

*.sqlite3
*.db
